body, html{
    height:100%;
}

.wrap {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#bg {
    position: relative;
    width: 800px;
    height: 600px;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
}

#hero {
    position: absolute;
    left: 400px;
    bottom: 0;
    width: 35px;
    height: 53px;
    margin-left: -17.5px;
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;   
    background-position: 0 0; 
}

#hero.back-face{
    background-position: -35px 0;
}

#hero.left-face{
    background-position: -70px 0;
}

#hero.right-face{
    background-position: -105px 0;
}

.ghost{
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 54px;
    background-image: url("../images/enemy.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 10;
}

.ghost.die{
    background-position: -45px 0;
}